body{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
header {
    width:100%
}
.divider {
    background-color:black;
    height:2.5px;
    width:100%;
}
.content {
    display:block;
    background-color:white;
}
.banner{
    min-height: 42px;
    background-color:black;
    margin:0 auto;
    position:relative;
    white-space:nowrap;
}
.container{
    max-width:1138px;
    margin: 0 auto;
    position:relative;
    padding:10px 21px;
}

.nav-menu{
    font-family: "Open Sans", sans-serif; font-weight: 600;
    display:flex;
    margin:0;
    padding:0;
}

.nav-menu li{
    font-variant: small-caps;
    list-style:none;
    margin-right:30px;
}

.nav-menu li a{
    text-decoration: none;
    font-size:1.25em;
    color: white;
    position:relative;
}

.nav-menu li a:before{
    content: "";
    width:0px;
    height:2px;
    background:#4ECDC4;
    position:absolute;
    top:100%;
    left:0;
    transition:.5s;
}
.nav-menu li:hover a:before{
    width:100%;
}

.nav-menu-company{
    display:none;
}

.ing-list {
    display:block;
    margin-left:10px;
}
.ing-list li{
    font-size:1em;
}
#ing-title{
    margin-bottom:5px;;
}

.header-flex{
    display:flex;
}
.header-flex a, .header-flex a:visited, .nav-menu-company a{
    display:flex;
    align-content:center;
    text-decoration:none;
    color:black;
}
.header-flex img {
    margin-top:10px;
}

.header-flex img, .nav-menu-company img{
    width:57px;
    max-height: 57px;
    margin-right:5px;
}
h1{
    font-family: Lato, Helvetica, sans-serif;
    font-size:2em;
    align-content: left;
    flex:4;
}

h2 {
    font-family: Lato, Helvetica, sans-serif;
    font-size:1.2em;
    color:#0b725a;
}

h3{
    font-family: Lato, Helvetica, sans-serif;
    font-size:2.1em;
    margin-top:20px;
    margin-bottom:20px;
    color:#0b725a;
    font-variant:small-caps;
    font-style:bold;
}
h4{
    font-family: Lato, Helvetica, sans-serif;
    font-size:1.2em;
    margin:10px;
}
h5 {
    color:white;
    font-size: 1.5em;
    margin-top:60px;
    margin-bottom:20px;
}

input[type=text] {
	width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 10px;
    margin:auto;
    margin-left:10px;
}
input[type=email] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 10px;
}

input[type=search] {
	width: 50%;
    box-sizing: border-box;
    border:0;
    outline:0;
    background:transparent;
    border-bottom:1px solid black;
    font-size: 16px;
	background-color: white;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 2px;
    float:right;
    margin: auto 10px;
}

@keyframes slider {
    0% {left:0;}
    20% {left:0;}
    25% {left:-100%;}
    45% {left:-100%;}
    50% {left:-200%;}
    70% {left:-200%;}
    75% {left:-300%;}
    95% {left:-300%;}
    100% {left:-400%;}
}

#slider {
    overflow:hidden;
    max-height:400px;
    margin-bottom:15px;
}
#slider figure{
    position:relative;
    width:500%;
    margin:0;
    left:0;
    text-align: left;
    font-size: 0;
    animation:20s slider infinite;
}
#slider figure img{
    width:20%;
    float:left;
}

.listing {
    display:flex;
    flex-direction: column;
    flex-basis:30%;
    text-align: left;
    margin-right:15px;
    margin-bottom:20px;
}
.listing a {
    color:black;
    font-size:1.5em;
    font-family: 'Crete Round', serif; font-weight:500;
}

.listing a, .listing a:visited {
	text-decoration:none;
}

.listing a:hover {
    color:#0b725a;
}

.listing img{
    width:100%;
    max-height: 400px;
    max-width: 600px;
    
}
.listing p{
    margin-top:10px;
    font-size:.9em; 
}

#list-recipes, #list-ingredients {
    margin-bottom: 45px;
    font-size: .95em;
    text-align:center;
    flex-basis:20%;
}

.button-nav {
    display: inline-block;
    border:none;
    color: #fff;
    margin-top:20px;
    margin-bottom:40px;
    padding: 0.6em 0.6em;
    background-color: #4ECDC4;
    font-size:.7em;
    cursor:pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-nav:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.19);
}

.tags {
    background-color:rgba(90, 201, 193, 0.562);
    padding:4px;
    margin-right:8px;
    margin-top:0;
    margin-bottom:35px;
}

.desc {
    font-size:.9em;
    margin-top:0;
    margin-bottom:20px;
    flex:1;
    margin-left:30px;
    width:300px;
}
.menu {
    justify-content: flex-end;
    height:24px;
    width:24px;
    margin-right:15px;
}

.burger-toggle{
    justify-content: flex-end;
    color: white;
    font-size:1.3em;
    display:none;
    text-decoration:none;
}

.nav-menu-burger{
    display:none;
    width:100%;
    background-color: black;
    height:0; 
}
.nav-menu-burger.open{
    height:auto;
    display:block;
}

.nav-menu-burger a{
    display:block;
    font-variant: small-caps;
    text-align:center; 
    text-decoration: none;
    font-size:1.25em;
    color: white;
    padding-bottom:8px;
    padding-top:3px;
    border-top:1px solid rgba(102, 98, 98, 0.527);
}
.nav-menu-burger a:hover{
    color:#0b725a;
    
}
.user {
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
.user a{
    display:flex;
    color:white;
    font-size:1.2em;
    cursor:pointer;
    margin-left:8px;
    margin-right:8px;
    font-variant: small-caps;
    font-style: normal;
}
.user p{
    display:flex;
    color:white;
    font-size:1.13em;
    margin:0;

}
.user a:hover{
    color:#0b725a;
}
.user-icon{
    justify-content: flex-end;
    height:22px;
    width:22px;
    margin-right:15px;
}

img{
    widows:100%;
    height:auto;
}
.welcome-box {
    display:flex;
    flex-direction:column;
    border: 1px solid #ccc;
    flex:2;
    margin-left:30px;
    margin-bottom:120px;
    height:50%;
    
}
.welcome-box h{
    font-family: 'Crete Round', serif; font-weight: 500;
    color:black;
    font-size:1.65em;
    margin:0 20px;
    padding-top:30px;
    text-align:center;
}
.welcome-box p{
    font-size:.9em;
    margin: 20px 30px;
    text-align:center;
}
.welcome-box a {
    font-family: Lato, Helvetica, sans-serif;
    font-size:1.35em;
    color:green;
    margin: 10px 20px;
    text-decoration:none;
    text-align:center;
    padding-bottom:30px;
}
.welcome-box a:hover {
    text-decoration: underline;
}
#welcome-box-2 {
    display:none;
}

/* Sidebar*/
.sidebar {
    margin-top:15px;
    margin-right:25px;
    width: 15%;
}
.sidebar ul {
    list-style:none;
    padding:0;
    font-size:.9em;
    margin-bottom:15px;
}
.sidebar li {
    padding:8px 5px 5px 10px;
    border-bottom: 1px solid rgb(221, 219, 219);
}
.sidebar a{
    text-decoration:none;
    color:black;
}
.sidebar a:hover{
    font-weight: 700;
    text-decoration:none;
    color:black;
}
.sidebar input {
    margin-left:0;
}
#focusmeplease{
    font-weight: 800;
    text-decoration:none;
    color:black;
}

/* About Us Content */
#about-us-content {
    flex-basis:55%;
}
#about-us-content img{
    width:100%;
    margin-bottom:25px;
}
#about-us-content h{
    font-weight:700;
}
#about-us-content p{
    word-spacing:.5px;
    font-size:.95em;
    margin-top:10px;
    margin-bottom:30px;
}

/* Popular recipes box */
#box-popular{
    display:flex;
    flex-direction:column;
    border: 1px solid #ccc;
    margin-left:30px;
    margin-top:35px;
    flex-basis:23%;
    height:50%;
}
#box-popular h{
    font-family: 'Crete Round', serif; font-weight: 500;
    color:black;
    font-size:1.3em;
    margin:5px 15px;
    text-align:center;
}
#box-popular .listing {
    margin:10px;
}
#box-popular .listing button{
    margin-top:5px;
}

/* Recipes List View */
#recipes-content {
    flex-basis:80%;
}
#recipes-content h3 {
    margin-bottom:30px;
    margin-right:5px;
}

/* Recipe Details */
#recipes-detail-1 {
    flex-basis:80%;
}
#recipe-detail-1 img{
    max-height:500px;
}

textarea {
    resize:none;
    width:65%;
}

/*  */
.dp {
    height:10%;
    width:10%;
}
#comment {
    margin-bottom:20px;
}
#comment p{
    margin:30px;
}

/* Footer elements */
footer {
    display:block;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000;
    text-align: center;
    margin-top:40px;
}
footer a {
    text-decoration:none;
    color:white;
}
footer a:hover{
    text-decoration:underline;
}
.topFooter {
    position: relative;
    text-align: center;
    display: inline;
}
.topFooter img{
    max-width:50px;
    max-height:50px;
}
.footerTextA, .footerTextB{
    color: white;
}
.footerTextB {
    font-size: 0.7rem;
}
.footerTextB p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


