body{
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif; font-weight: 600;
}

header {
    width:100%
}
footer {
    width:100%;
    height:300px;
    background-color:black;
}
.content {
    background-color:white;
    height:1000px;
}

.banner{
    min-height: 42px;
    background-color:black;
    margin:0 auto;
    position:relative;
    white-space:nowrap;
}

.container{
    max-width:1138px;
    margin: 0 auto;
    position:relative;
    padding:10px 21px;
}

.nav-menu{
    display:flex;
    margin:0;
    padding:0;
}

.nav-menu li{
    font-variant: small-caps;
    list-style:none;
    margin-right:30px;
}

.nav-menu li a{
    text-decoration: none;
    font-size:1.25em;
    color: white;
    position:relative;
}

.nav-menu li a:before{
    content: "";
    width:0px;
    height:2px;
    background:#4ECDC4;
    position:absolute;
    top:100%;
    left:0;
    transition:.5s;
}
.nav-menu li:hover a:before{
    width:100%;
}

.list {
    display:block;
    margin-left:20px;
}
.list li{
    font-variant:normal;
    list-style: circle;
    font-size:1em;
}

.header-flex{
    display:flex;
}

.header-flex img, .nav-menu-company img{
    width:57px;
    max-height: 57px;
    margin-right:10px;
}
h1{
    font-family: Lato, Helvetica, sans-serif;
    font-size:2em;
    font-weight:bold;
    align-content: left;
    flex:4;
}

h2 {
    font-family: Lato, Helvetica, sans-serif;
    font-size:1.2em;
    color:#0b725a;
}

h3{
    font-family: Lato, Helvetica, sans-serif;
    font-size:2.1em;
    margin-top:40px;
    margin-bottom:20px;
    color:#0b725a;
    font-variant:small-caps;
    font-style:bold;
}
h4{
    font-family: Lato, Helvetica, sans-serif;
    font-size:1.2em;
    margin:10px;
}
h5 {
    color:white;
    font-size: 1.5em;
    margin-top:60px;
    margin-bottom:20px;
}

input[type=text] {
	width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 10px;
    margin:auto;
    margin-left:10px;
}
input[type=email] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
	background-color: white;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 10px;
}

input[type=search] {
	width: 50%;
    box-sizing: border-box;
    border:0;
    outline:0;
    background:transparent;
    border-bottom:1px solid black;
    font-size: 16px;
	background-color: white;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 2px;
    float:right;
    margin: auto 10px;
}

@keyframes slider {
    0% {left:0;}
    20% {left:0;}
    25% {left:-100%;}
    45% {left:-100%;}
    50% {left:-200%;}
    70% {left:-200%;}
    75% {left:-300%;}
    95% {left:-300%;}
    100% {left:-400%;}
}

#slider {
    overflow:hidden;
    height:auto;
}
#slider figure{
    position:relative;
    width:500%;
    margin:0;
    left:0;
    text-align: left;
    font-size: 0;
    animation:20s slider infinite;
}
#slider figure img{
    width:20%;
    float:left;
}

.listing {
	flex:1;
    text-align: left;
    margin-right:15px;
}

.listing a {
    font-size:1.5em;
    font-family: 'Crete Round', serif; font-weight:500;
}

.listing a, .listing a:visited {
	text-decoration:none;
	color:black;
}

.listing a:hover {
    color:#0b725a;
}

.listing img{
    height:auto;
	width:auto;
    max-width:100%;
    margin-bottom:15px;
}
.listing p{
    margin-top:10px;
    font-size:.8em;
}

.button-nav {
    display: inline-block;
    border:none;
    color: #fff;
    padding:10px;
    background-color: #4ECDC4;
    margin-top:20px;
    font-size:.7em;
    cursor:pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-nav:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 12px 0 rgba(0,0,0,0.19);
}

.tags {
    background-color:rgba(90, 201, 193, 0.562);
    padding:4px;
    margin-right:8px;
    margin-top:0;
    margin-bottom:35px;
}

.desc {
    font-size:.9em;
    margin-top:0;
    margin-bottom:20px;
    flex:1;
    margin-left:30px;
    margin-right:300px;
}
.menu {
    justify-content: flex-end;
    height:24px;
    width:24px;
    margin-right:15px;
}

.burger-toggle{
    justify-content: flex-end;
    margin-right:15px;
    color: white;
    font-size:1.3em;
    display:none;
    text-decoration:none;

}

.nav-menu-burger{
    display:none;
    width:100%;
    background-color: black;
    height:0;
}
.nav-menu-burger.open{
    height:auto;
    display:block;
}

.nav-menu-burger a{
    display:block;
    font-variant: small-caps;
    text-align:center;
    text-decoration: none;
    font-size:1.25em;
    color: white;
    line-height:30px;
    padding-bottom:5px;
}
.nav-menu-burger a:hover{
    background-color:green;

}
.cart {
    display:flex;
    align-items:center;
    justify-content: flex-end;
}

.cart a{
    display:flex;
    color:#68C3A3;
    font-size:1em;
    cursor:pointer;

}

.cart a:hover{
    filter: contrast(60%);
}
.cart-icon{
    justify-content: flex-end;
    height:24px;
    width:24px;
    margin-right:5px;

}

img{
    widows:100%;
    height:auto;
}
.nav-menu-company{
    display:none;
}


.button-sub {
  border-radius: 4px;
  background-color: #EC644B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  float:right;
  font-size: 18px;
  padding: 5px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-sub span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-sub span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-sub:hover span {
  padding-right: 25px;
}

.button-sub:hover span:after {
  opacity: 1;
  right: 0;
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .paybtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*select form*/
select{
  width:75%;
  display:table;
  margin-top:5px;
  margin-bottom: 15px;

}

.date{
  width:75%;
  display:table;
}

#expire{
  width:75%;
  display:table;
  margin-top:5px;
  margin-bottom: 15px;
}

/*Thank you page */
/* #thankyou{
  font-size: 2.5em;
  text-align:center;
} */

.title{
    height: 10em;
    text-align: center;
     vertical-align: middle;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
